:root{
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);


    /*
        1. "Verified Graduate" has the same color as the person's name with 50% opacity
        2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
    */
}

*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.testimonials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
}


.post-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

.post-header .customer-details{
    padding-left: 2rem;
}

.customer-image{
    border-radius: 50%;
    border: 2px solid;
    width: 3.5rem;
}

.customer-image-top-left{
    border-color: hsla(0, 0%, 81%, 0.5);
}
.customer-image-top-middle{
    hsla(219, 29%, 14%, 0.5);
}
.customer-image-bottom-left{
    border-color: hsla(0, 0%, 81%, 0.5);
}
.customer-image-bottom-middle{
    color:var(--Moderate-violet);
}
.customer-image-right{
    border-color: hsla(0, 0%, 81%, 0.5);
}

.customer-name-light{
    color:var(--Light-gray);
}

.verified-light{
    color: hsla(0, 0%, 81%, 0.5);
}

.customer-name-dark{
    color:var(--Very-dark-blackish-blue);
}

.verified-dark{
    color: hsla(219, 29%, 14%, 0.5);
}

.post{
    border-radius: 15px;
    padding: 3rem;
}

.post-heading{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.post-heading-light{
    color: var(--White);
}

.post-copy{
    font-size: 1.25rem;
    line-height: 2rem;
}

.post-copy-light{
    color: hsla(0, 0%, 81%, 0.7);
}

.post-copy-dark{
    color: hsla(219, 29%, 14%, 0.7);
}



/* Grid Setup */
.testimonials-content{
    width: 90%;
    height: 90%;
    padding: 3rem 0;
    display: grid;
    grid-gap: 3.5rem;
    grid-template-rows: repeat(5, auto);
}

.post-top-left{
    background-color: var(--Moderate-violet);
    grid-row: 1 / 2;

}
.post-top-middle{
    background-color: var(--Very-dark-grayish-blue);
    grid-row: 2 / 3;

}
.post-bottom-left{
    background-color: var(--White);
    grid-row: 3 / 4;

}
.post-bottom-middle{
    background-color: var(--Very-dark-blackish-blue);
    grid-row: 4 / 5;
}
.post-right{
    background-color: var(--White);
    grid-row: 5 / 6;
}

/* Responsiveness */
@media (min-width:1000px){
    .testimonials-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .post-top-left{
        grid-row: 1 / 2;
    
    }
    .post-top-middle{
        grid-row: 1 / 2;
    
    }
    .post-bottom-left{
        grid-row: 2 / 3;
    
    }
    .post-bottom-middle{
        grid-row: 2 / 3;
    }
    .post-right{
        grid-row: 3 / 4;
    }
}

@media (min-width:1600px){
    .testimonials-content{
        grid-template-columns: repeat(4, 1fr);
    }

    .post-top-left{
        background-color: var(--Moderate-violet);
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .post-top-middle{
        background-color: var(--Very-dark-grayish-blue);
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .post-bottom-left{
        background-color: var(--White);
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .post-bottom-middle{
        background-color: var(--Very-dark-blackish-blue);
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }
    .post-right{
        background-color: var(--White);
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
}

/*
.post-top-left{
    background-color: var(--Moderate-violet);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.post-top-middle{
    background-color: var(--Very-dark-grayish-blue);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.post-bottom-left{
    background-color: var(--White);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.post-bottom-middle{
    background-color: var(--Very-dark-blackish-blue);
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.post-right{
    background-color: var(--White);
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

*/




